[ req ]
default_bits		= 2048
default_keyfile 	= privkey.pem
default_md			= sha1
prompt				= no
distinguished_name	= req_distinguished_name
x509_extensions		= extensions

# the following sections are specific to the request we're building

[ req_distinguished_name ]
C	= US
ST	= Oregon
L	= Beaverton
OU	= GemStone Smalltalk
O	= GemTalk Systems, LLC
CN	= GemTalk as CA

[ extensions ]
# Extensions for a typical CA
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer
basicConstraints		= CA:true
